[Desktop Entry]
Name=tkined
Name[pl]=tkined
Comment=An Interactive Network Editor based on Tk
Comment[pl]=Interaktywny Edytor Sieciowy bazowany na Tk
Icon=tkined.png
Exec=tkined
Terminal=0
Type=Application

# vi: encoding=utf-8
