[Desktop Entry]
Name=tkined
Name[pl]=tkined
Comment=An Interactive Network Editor based on Tk
Comment[pl]=Interaktywny Edytor Sieciowy bazowany na Tk
Icon=tkined
Exec=tkined
Terminal=false
Type=Application
Categories=Utility;Network;
# vi: encoding=utf-8
